.card-2{
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(107deg, rgba(43,209,126) 2%, rgba(230,240,59,1) 100%);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.btn{
    padding: auto;
  margin-top: 2rem;
  text-decoration: none;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  /* background: rgb(230,240,59); */
  transition: 0.2s;
/* background: linear-gradient(107deg, rgba(230,240,59,1) 2%, rgba(36,255,244,1) 100%); */
background: rgb(230,240,59);
background: linear-gradient(107deg, rgb(240, 86, 59) 2%, rgb(69, 48, 254) 100%);
}
.btn:hover {
    box-shadow: 1px 33px 103px -1px hsla(177, 100%, 57%, 0.75);
          -webkit-box-shadow: 1px 33px 103px -1px rgb(240, 125, 59);
          -moz-box-shadow: 1px 33px 103px -1px rgb(240, 125, 59);
        
}